In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import scipy.stats as stats
import math

In [2]:
tickers = ['AAPL', 'AMZN', 'LAC', 'GOOGL', 'MSFT', 'NFLX', 'TSLA']
etfs = ['spy', 'iwm', 'dia']
data = yf.download(tickers + etfs, period = '10y')['Adj Close']

[*********************100%***********************]  10 of 10 completed

In [3]:
tickers_upper = []
for tick in tickers:
    tickers_upper.append(tick.upper())
data[tickers].pct_change()

,AAPL,AMZN,LAC,GOOGL,MSFT,NFLX,TSLA
Date,,,,,,,
2013-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-04,-0.024206,0.027734,0.062500,0.018991,0.007156,-0.043090,0.026840
2013-03-05,0.026402,0.009081,0.000000,0.020816,0.007105,0.002870,0.030073
2013-03-06,-0.012711,-0.006531,-0.117647,-0.008610,-0.009171,0.006658,0.028377
2013-03-07,0.011558,0.000329,0.133333,0.001467,0.001780,-0.007543,0.014327
...,...,...,...,...,...,...,...
2023-02-22,0.002896,0.012793,0.010638,-0.001525,-0.004591,-0.007763,0.017683
2023-02-23,0.003291,0.000313,0.027193,-0.008292,0.012962,-0.033534,0.006024
2023-02-24,-0.018005,-0.024212,-0.028181,-0.019364,-0.021784,-0.020083,-0.025684
2023-02-27,0.008248,0.002781,0.044376,0.008303,0.003772,0.018540,0.054602
2023-02-28,-0.003448,0.005013,-0.007573,0.002114,-0.002958,-0.002786,-0.009247

In [4]:
import numpy as np
weights = np.full((7, 1), 0.148, dtype=float)

In [7]:
data = yf.download(tickers + etfs, period = '10y')['Adj Close']
daily_volatility = data.std()
annualized_volatility = math.sqrt(63) * daily_volatility
print (annualized_volatility)

[*********************100%***********************]  10 of 10 completed
AAPL      395.934023
AMZN      419.224528
DIA       577.676122
GOOGL     274.033879
IWM       311.400605
LAC        69.359733
MSFT      724.581287
NFLX     1369.228037
SPY       748.311438
TSLA      812.182633
dtype: float64

In [8]:
etfs = ['SPY', 'IWM', 'DIA']
period = '1y'

def beta(stock,etf ):
    cov_matrix = np.cov(stock, etfs)
    var_stock = cov_matrix[0,0]
    cov_stock_etf = cov_matrix[0,1]
    beta = (cov_stock_etf/var_stock)
    print (beta)

In [9]:
import numpy as np

def get_weekly_drawdowns(dataframe):
    weekly_resample = dataframe.resample("1W").last()["Adj Close"]
    weekly_resample.dropna(inplace=True)

    weekly_resample_array = np.array(weekly_resample)
    num_periods = len(weekly_resample_array) // 52
    weekly_drawdowns = []
    for i in range(num_periods):
        start = i * 52
        end = (i + 1) * 52
        high = np.max(weekly_resample_array[start:end])
        low = np.min(weekly_resample_array[start:end])
        drawdown = (low - high) / high
        weekly_drawdowns.append(drawdown)
    average_weekly_drawdown = np.mean(weekly_drawdowns)
    maximum_weekly_drawdown = np.max(weekly_drawdowns)

    print (average_weekly_drawdown, maximum_weekly_drawdown)

In [10]:
def get_total_return(dataframe):
    start_price = dataframe["Adj Close"].iloc[0]
    end_price = dataframe["Adj Close"].iloc[-1]
    total_return = (end_price - start_price) / start_price * 100
    print (f"{total_return:.2f}%")

In [11]:
def get_annualized_total_return(dataframe):
    start_date = dataframe.index[-1] - pd.DateOffset(years=10)
    end_date = dataframe.index[-1]
    start_price = dataframe.loc[start_date]["Adj Close"]
    end_price = dataframe.loc[end_date]["Adj Close"]
    total_return = (end_price / start_price) - 1
    annualized_return = (1 + total_return) ** (1/years) - 1
    print (f"{annualized_return*100:.2f}%")

In [12]:
tickers = [tick.upper() for tick in tickers]
etfs = [tick.upper() for tick in etfs]
data[etfs].head()

                   SPY        IWM         DIA
Date
2013-03-01  126.332924  79.572227  113.695068
2013-03-04  127.005638  79.782341  113.961662
2013-03-05  128.143463  80.710342  114.987564
2013-03-06  128.317886  80.920464  115.391495
2013-03-07  128.550369  81.305672  115.633881

In [13]:
df_etf_returns = data[tickers].pct_change()
df_returns = data.pct_change()

In [14]:
df_etf_beta = df_etf_returns.cov() / df_etf_returns.var()

In [ ]:
plt.style.use('default')
sns.heatmap(df_etf_returns, annot = True, linewidths = 0.5)
plt.show()